{% set expirada = oferta.fechaExpiracion|date('YmdHis') < 'now'|date('YmdHis') %}

<section class="descripcion">
    <h1><a href="{{ path('oferta', 
                        { 'ciudad': oferta.ciudad.slug, 'slug' : oferta.slug }) }}">
        {{ oferta.nombre }}</a></h1>
    
    {{ oferta.descripcion | mostrar_como_lista}}
    
    <a class="boton" href="{{ path('comprar', { 'ciudad': oferta.ciudad.slug, 'slug': oferta.slug }) }}">Comprar</a>
</section>

<section class="galeria">
    <img alt="Fotografía de la oferta" src="{{ asset(directorio_imagenes ~ oferta.foto) }}">
    
    <p class="precio">{{ oferta.precio }} &euro;
        <span>{{ descuento(oferta.precio, oferta.descuento) }}</span></p>
    
    <p><strong>Condiciones:</strong> {{ oferta.condiciones }}</p>
</section>

<section class="estado {{ expirada ? 'expirada' : '' }}">
{% if not expirada %}
    <div class="tiempo">
        <strong>Faltan:</strong> {{ oferta.fechaExpiracion | cuenta_atras }}
    </div>
    
    <div class="compras">
        <strong>Compras</strong>: {{ oferta.compras }}
    </div>
    
    <div class="faltan">
        {# Si las compras no llegan al umbral mínimo establecido #}
        {% set faltan = oferta.umbral - oferta.compras %}
        {% if faltan > 0 %}
            Faltan <strong>{{ faltan }} compras</strong> <br/>
            para activar la oferta
        {# Si las compras superan el umbral mínimo establecido #}
        {% else %}
            <strong>Oferta activada</strong> por superar las
            <strong>{{ oferta.umbral }}</strong> compras necesarias
        {% endif %}
    </div>
{% else %}
    <div class="tiempo">
        <strong>Finalizada</strong> el {{ oferta.fechaExpiracion | date() }}
    </div>

    <div class="compras">
        <strong>Compras</strong>: {{ oferta.compras }}
    </div>
{% endif %}
</section>

<section class="direccion">
    <h2>Disfruta de la oferta en</h2>
    <p>
        <a href="{{ path('tienda_portada', { 'ciudad': oferta.ciudad.slug, 
                'tienda': oferta.tienda.slug }) }}">
                {{ oferta.tienda.nombre }}</a>
        {{ oferta.tienda.direccion | nl2br }}
    </p>
</section>

<section class="tienda">
    <h2>Sobre la tienda</h2>
    {{ oferta.tienda.descripcion }}
</section>
