{% extends '::extranet.html.twig' %}

{% block id 'tienda' %}
{% block title %}Ver / Modificar mis datos{% endblock %}

{% block article %}
<h1>{{ block('title') }}</h1>

<form action="{{ path('extranet_perfil') }}" method="post">
<div>
    {{ form_errors(formulario) }}

    <div>
        {{ form_row(formulario.nombre) }}
    </div>

    <div>
        {{ form_label(formulario.login, 'Nombre de usuario') }}
        {{ form_errors(formulario.login) }}
        {{ form_widget(formulario.login) }}
    </div>

    <div>
        {{ form_widget(formulario.password) }}

        <p class="ayuda">Si quieres cambiar la contraseña, escríbela dos
        veces. Si no quieres cambiarla, deja su valor vacío.</p>
    </div>

    <div>
        {{ form_label(formulario.descripcion, 'Descripción') }}
        {{ form_errors(formulario.descripcion) }}
        {{ form_widget(formulario.descripcion) }}
    </div>

    <div>
        {{ form_row(formulario.ciudad) }}
    </div>

    {{ form_rest(formulario) }}

    <input class="boton" type="submit" value="Guardar cambios" />
</div>
</form>
{% endblock %}