{% extends '::extranet.html.twig' %}

{% block id 'oferta' %}
{% block title %}Ventas de la oferta {{ oferta.nombre }}{% endblock %}

{% block article %}
<h1>{{ block('title') }}</h1>

<table>
    <thead>
        <tr>
            <th>DNI</th>
            <th>Nombre y apellidos</th>
            <th>Fecha venta</th>
        </tr>
    </thead>

    <tbody>
        {% for venta in ventas %}
        <tr>
            <td>{{ venta.usuario.dni }}</td>
            <td>{{ venta.usuario.nombre ~ ' ' ~ venta.usuario.apellidos }}</td>
            <td>{{ venta.fecha | fecha('long', 'medium') }}</td>
        </tr>
        {% endfor %}
        <tr>
            <th>TOTAL</th>
            <td>{{ ventas | length * oferta.precio }} &euro;</td>
            <td>{{ ventas | length }} ventas</td>
        </tr>
    </tbody>
</table>
{% endblock %}