<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %} | Cupon</title>
    {% block stylesheets %}{% endblock %}
    {% block rss %}{% endblock %}
</head>

<body id="{% block id '' %}"><div id="contenedor">
    {% block body %}{% endblock %}

	<footer>
        &copy; {{ 'now' | date('Y') }} - Cupon
        <a href="{{ path('pagina_estatica', { 'pagina': 'ayuda' }) }}">Ayuda</a>
        <a href="{{ path('pagina_estatica', { 'pagina': 'contacto' }) }}">Contacto</a>
        <a href="{{ path('pagina_estatica', { 'pagina': 'privacidad' }) }}">Privacidad</a>
        <a href="{{ path('pagina_estatica', { 'pagina': 'sobre-nosotros' }) }}">Sobre nosotros</a>
    </footer>

    {% block javascripts %}{% endblock %}

    {% set locale = app.request.session.locale %}

    {% if locale == 'es' %}
        <span>Español</span>
        <a href="{{ path('portada', { '_locale': 'en' }) }}">English</a>
    {% elseif locale == 'en' %}
        <a href="{{ path('portada', { '_locale': 'es' }) }}">Español</a>
        <span>English</span>
    {% endif %}
</div></body>
</html>