{% set ciudadSeleccionada = app.request.attributes.has('ciudad')
    ? app.request.attributes.get('ciudad') : ciudad_por_defecto %}

{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/oferta/css/normalizar.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/oferta/css/comun.css') }}"      rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/oferta/css/frontend.css') }}"   rel="stylesheet" type="text/css" />
{% endblock %}
{% block javascripts %}{% endblock %}

{% block body %}
<header>
    <h1><a href="{{ path('portada', { 'ciudad': ciudadSeleccionada }) }}">CUPON</a></h1>
    <nav>
        <ul>
            <li><a href="{{ path('portada', { 'ciudad': ciudadSeleccionada }) }}">{{ 'menu.dia' | trans }}</a></li>
            <li><a href="{{ path('ciudad_recientes', { 'ciudad': ciudadSeleccionada }) }}">{{ 'menu.recientes' | trans }}</a></li>
            <li><a href="{{ path('usuario_compras') }}">{{ 'menu.mias' | trans }}</a></li>

            <li>{% render "CiudadBundle:Default:listaCiudades"
                        with { 'ciudad': ciudadSeleccionada } %}</li>
        </ul>
    </nav>
</header>

<article {{ block('id') in ['portada', 'oferta'] ? ' class="oferta"' : '' }}>
    {% block article %}{% endblock %}
</article>

<aside>
    {% block aside %}
    <section id="login">
        {% include 'UsuarioBundle:Default:cajaLogin.html.twig' %}
    </section>
    {% endblock %}
</aside>
{% endblock %}