{# el usuario está logueado #}
{% if is_granted('ROLE_USUARIO') %}
    {% if app.session.hasFlash('info') %}
        <p class="info">{{ app.session.getFlash('info') }}</p>
    {% endif %}

    <p>Conectado como {{ app.user }}</p>

    <a href="{{ path('usuario_perfil') }}">Ver mi perfil</a>
    <a href="{{ path('usuario_logout') }}">Cerrar sesión</a>
{# el usuario todavía no ha hecho login #}
{% else %}
    <a class="boton" href="{{ path('usuario_registro') }}">Regístrate ya</a>

    <h2>Accede a tu cuenta</h2>

    <form action="{{ path('usuario_login_check') }}" method="post">
        {% if error is defined %}
            <div>{{ error.message }}</div>
        {% endif %}

        <label for="login_user">Email</label>
        <input id="login_user" type="text" name="_username"
            value="{{ last_username | default('') }}" />

        <label for="login_pass">Contraseña</label>
        <input id="login_pass" type="password" name="_password" />

        <input type="submit" value="Entrar" />

        <input type="checkbox" id="no_cerrar" name="_remember_me" checked />
        <label for="no_cerrar">No cerrar sesión</label>
    </form>
{% endif %}