<select id="ciudadseleccionada">
    {% for ciudad in ciudades %}
        <option value="{{ ciudad.slug }}"
                data-url="{{ is_granted('ROLE_ADMIN')
                    ? url('backend_ciudad_cambiar', { 'ciudad': ciudad.slug })
                    : url('ciudad_cambiar', { 'ciudad': ciudad.slug })
                }}"
                {{ ciudadActual == ciudad.slug ? 'selected="selected"' : '' }}>
            {{ ciudad.nombre }}
        </option>
    {% endfor %}
</select>

<script type="text/javascript">
    var lista = document.getElementById("ciudadseleccionada");

    lista.onchange = function() {
        var url = lista.options[lista.selectedIndex].getAttribute('data-url');
        window.location = url;
    };
</script>